<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.web>
        <membership defaultProvider="Fake" userIsOnlineTimeWindow="15">
            <providers>
                <add name="Fake" type="MongoDB.Web.Providers.MongoDBMembershipProvider, MongoDB.Web" />
            </providers>
        </membership>
    </system.web>
</configuration>